<h1>Syslog Analyzer</h1>
<nav><a [routerLink]="['/form']" routerLinkActive="active">Register Syslogs</a> | <a routerLink='/list' routerLinkActive="active">View Syslogs</a></nav>
<hr/>
<router-outlet></router-outlet>